= form_for @packing, html: { class: "form-horizontal" } do |f|
  - if @packing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@packing.errors.count, "error")} prohibited this packing from being saved:"
      %ul
        - @packing.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :packing_type
    = f.text_field :packing_type, autofocus: true
    
  .actions
    = f.submit 'Save'
