= form_for @claim, html: { class: "form-horizontal" } do |f|
  - if @claim.errors.any?
    #error_explanation
      %h2= "#{pluralize(@claim.errors.count, "error")} prohibited this claim from being saved:"
      %ul
        - @claim.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
