= form_for @container, html: { class: "form-horizontal" } do |f|
  - if @container.errors.any?
    #error_explanation
      %h2= "#{pluralize(@container.errors.count, "error")} prohibited this container from being saved:"
      %ul
        - @container.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :container_number
    = f.text_field :container_number, autofocus: true
    
  .actions
    = f.submit 'Save'
