%h1 Containers

= link_to 'New Container', new_container_path, class: "btn btn-default"
Total Containers:
= @count

%br
%br

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th Container #
    %th 

  - @containers.each do |container|
    %tr
      %td= container.id
      %td= link_to container.container_number, edit_container_path(container)
      -# if current_user.try(:admin)
      %td= link_to 'Edit', edit_container_path(container)
      %td= link_to 'Destroy', container, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


