%h1 Items

= link_to 'New Item', new_item_path, class: "btn btn-default"
Total Items:
= @count

%br
%br

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.id
      %td= link_to item.name, edit_item_path(item)
      - if current_user.try(:admin)
        %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


