%h1 Ports of Loading

= link_to 'New Port of Loading', new_port_of_loading_path, class: "btn btn-default"
Total Ports of Loading:
= @count

%br
%br

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th City
    %th Country

  - @port_of_loadings.each do |port_of_loading|
    %tr
      %td= port_of_loading.id
      %td= port_of_loading.city
      %td= port_of_loading.country
      - if current_user.try(:admin)
        %td= link_to 'Destroy', port_of_loading, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


