%h1 Suppliers

= link_to 'New Supplier', new_supplier_path, class: "btn btn-default"
Total Suppliers:
= @count

%br
%br

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th Name
    %th

  - @suppliers.each do |supplier|
    %tr
      %td= supplier.id
      %td= link_to supplier.name, edit_supplier_path(supplier)
      -# if current_user.try(:admin)
      %td= link_to 'Edit', edit_supplier_path(supplier)
      %td= link_to 'Destroy', supplier, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


