!!!
%html
  %head
    %title Metals
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/navbar'
          
    .container-fluid
      = yield
    = render 'layouts/footer'